<ion-content [fullscreen]="true">
  <div class="calc-body">
    <div class="calc-display">
      <div class="display">{{ display }}</div>
    </div>
    <ion-grid class='calc-keyboard'>
      <ion-row>
        <ion-col>
          <ion-button color="danger" (click)="press('c')">C</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="medium" (click)="press('+/-')">+/-</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="medium" (click)="press('%')">%</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="medium" (click)="press('+')">+</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="dark"  (click)="press(7)">7</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark"  (click)="press(8)">8</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark"  (click)="press(9)">9</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="medium"  (click)="press('-')">-</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="dark" (click)="press(4)">4</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" (click)="press(5)">5</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" (click)="press(6)">6</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="medium" (click)="press('x')">x</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="dark" (click)="press(1)">1</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" (click)="press(2)">2</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" (click)="press(3)">3</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="medium" (click)="press('/')">/</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-button color="dark" (click)="press(0)">0</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" (click)="press(',')">,</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="success" (click)="press('=')">=</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>