
.calc-display{
  height: 35vh;
  width: 100%;
}

.display{
  width: 100%;
  font-size: 48px;
  text-align: right;
  line-height: 48px;
  padding-top: calc( 17vh - 24px);
  padding-bottom: calc( 17vh - 24px);
  padding-right: 10vw;
}




.calc-keyboard{
  height: 65vh;
}
ion-row{
  height: 19%;
}

ion-button{
  width: 100%;
  height: 80%;
}